*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #23263a;
    color: white;
    font-family: 'Roboto', sans-serif;
    
}
a{
    color: white;
    text-decoration: none
}

nav{
    display: flex;
}
.logo{
    padding: 3% 10%;
    /* display: flex; */
    width: auto;
    margin-right: 12%;
    margin: 0 auto 0;
}
ul{
    display: flex;
    flex-grow: 1;
    list-style: none;
    padding: 3% 20%;
    
    /* margin: ; */
}
a, li{
    cursor: pointer;

}
li:hover{
    color: rgb(214, 67, 67);
}

li::before{
    content: "•";
    margin: auto;
}
li:first-child::before{
    content:"";
}
li{
    display: flex;
    flex-grow: 1;
    margin: auto;
    font-family: 'Poppins', sans-serif;

}
.container{
    padding: 10% 10% 0;
}
body::-webkit-scrollbar{
    display: none;
}
.main-heading{
    text-align: left;
    /* margin: auto; */
    
    margin-bottom: 100px;
    /* padding: 50px; */
}
.heading-text h2{
    line-height: 120%;
    font-size: 4rem;
}
.heading-text p{
    margin: 20px 0 30px;
    color:rgb(99, 96, 96);
    width:50%;
    font-size: 1rem;
    line-height: 20px;
    text-align: justify;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 3;
}
.heading-img{
    height: 300px;
    border-radius: 150px;
    /* mix-blend-mode: multiply; */
}
.heading-img img{
    width: 350px;
    mix-blend-mode: color-burn;
}

   

nav{
    height: 110px;
    background-color: #1d2035;
}
.contact-btn {
    background-color: rgb(214, 67, 67);
    outline: none;
    border: none;
    border-radius: 1px;
    width: 190px;
    height: 50px;
    font-size: 1.1rem;
    font-weight: 700;
}
.contact-btn a{
    color: white;
    text-decoration: none;
}
.project-section{
    margin: 200px 0;
}
.project-heading{
    font-size: 1rem;
    margin-bottom: 55px;
}
.project-heading h1{
    font-size: 3rem;
    color:rgb(240, 68, 68) ;
    margin-bottom: 11px;
}
hr{
    background-color:rgb(240, 68, 68) ;
    height: 2px;
    border-color:rgb(240, 68, 68) ;
    width: 28%;
}
.grid-container{
    display: grid;
    grid-template-columns: 30.6% 30.6% 30.6%;
    gap: 4%;
}
/* .grid-container1{
    display: grid;
    grid-template-columns: 20% 33.3% 33.3%;
    gap: 2%;
} */
.project{
    box-shadow:#25262e 1px 0px 6px 2px;
    background-color: #282a36;
    padding: 8%;
}
.project:hover{
    transform: scale(1.1);
    transition: 0.8s ease-out;
    box-shadow:#181c39 1px 2px 12px 13px;
    background-color: #3a3d4e;

}
.heading{
    margin-bottom: 20px;
    display: flex;
}
.project-img{
    width: 180px;
    height: 100px;
    margin:0 auto;

}
/* .project-link{
    margin:0;
    grid-column-start: 2;
    grid-column-end: 4;
} */


.project-link a{
    display: inline-block;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    
}
.project-link a:hover{
    /* transform: scale(1.1); */
    color:rgb(240, 68, 68) ;
}
.desc{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    line-height: 120%;
}
@media only screen and (max-width: 650px) {
    .grid-container {
        grid-template-columns: 100%;

    }
    ul{
        display: none;
    }
    .heading-img{
        display: none;
    }
    .logo{
          Width:20%;
    }
    input{
         Width:79%;
}
  }
@media only screen and (min-width: 651px ) {
    .grid-container {
        grid-template-columns: 40% 40%;

    }
  }
  @media only screen and (min-width: 1000px ) {
    .grid-container {
        grid-template-columns: 30.6% 30.6% 30.6%;

    }
  }
.contact-sec{
    margin: 200px 0;
}
.desc p{
    font-size: 14px;
}
input{
    margin: 29px 0;
    display: block;
    height: 30px;
    width:410px;
    padding: 2%;
    border:none;
    outline:none;
    font-size: 20px;
}
input::placeholder{
    color: #23263a;

}
.input-email{
    background-color: #3c3e50;

}
.input-msg{
    background-color: #2b2d3e;

}
.contact-form{
    margin: 50px 0;
}
@media only screen and (max-width: 960px) {
    
    .heading-img{
        display: none;
    }
  }
